In [1]:
import pandas as pd
import numpy as np

my_array = np.array([10,20,30,40])
array_ventas = np.array(['ventas_norte', 'ventas_sur', 'ventas_este', 'ventas_oeste'])

In [2]:
my_array_pandas = pd.Series(my_array, index=array_ventas)
print(f'Array con pandas: {my_array_pandas}')

Array con pandas: ventas_norte    10
ventas_sur      20
ventas_este     30
ventas_oeste    40
dtype: int64

In [3]:

print(my_array_pandas['ventas_sur'])

20

In [6]:
datos_ventas = pd.DataFrame(data=np.array(
[    ['Norte', 'Sur', 'Este', 'Oeste'],
    [100, 250, 175, 120],
    ['Q1', 'Q1', 'Q1', 'Q1']]
), index=['zona', 'unidades_vendidas', 'trimestre'])
print(datos_ventas)

                       0    1     2      3
zona               Norte  Sur  Este  Oeste
unidades_vendidas    100  250   175    120
trimestre             Q1   Q1    Q1     Q1

In [14]:
datos_ventas_v2 = {
    'zona': ['Norte', 'Sur', 'Este', 'Oeste'],
    'unidades_vendidas': [100, 250, 175, 120],
    'trimestre': ['Q1', 'Q1', 'Q1', 'Q1']
}

df_ventas = pd.DataFrame(datos_ventas_v2)
print(df_ventas)
print(df_ventas.info())

    zona  unidades_vendidas trimestre
0  Norte                100        Q1
1    Sur                250        Q1
2   Este                175        Q1
3  Oeste                120        Q1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   zona               4 non-null      object
 1   unidades_vendidas  4 non-null      int64
 2   trimestre          4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

In [13]:
datos_np = np.array([
    ['Norte', '100', 'Q1'],
    ['Sur', '250', 'Q1'],
    ['Este', '175', 'Q1'],
    ['Oeste', '120', 'Q1']
])

df_ventas_v2 = pd.DataFrame(data=datos_np, columns=['zona', 'unidades_vendidas', 'trimestre'])
print(df_ventas_v2)
print(df_ventas_v2.info())

    zona unidades_vendidas trimestre
0  Norte               100        Q1
1    Sur               250        Q1
2   Este               175        Q1
3  Oeste               120        Q1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   zona               4 non-null      object
 1   unidades_vendidas  4 non-null      object
 2   trimestre          4 non-null      object
dtypes: object(3)
memory usage: 228.0+ bytes
None